
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  }
  .main img{
    margin: 10px;
    width: 100px;
    border-radius: 50%;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(0, 0%, 12%);
    width: 350px;
    height: auto;
    border-radius: 15px;
    margin-top: 100px;
  }
  .main h2{
    color: hsl(0, 0%, 100%);
  }
  .main h5{
    color: hsl(75, 94%, 57%);
    margin: 5px;
    padding: 5px;
  }
  .main p {
    color: hsl(0, 0%, 100%);
    Font-size: 14px;
    margin:10px;
    padding: 10px;
  }
  
  .main .but{
    width: 300px;
    color: hsl(0, 0%, 100%);
    margin: 15px;
    padding: 10px;
    font-weight: 600;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    cursor: pointer;
  }
  .main .but:hover{
    background-color: greenyellow;
  }
  .attribution{
    margin: 10px;
    padding: 10px;
  }
  .attribution a{
    text-decoration: none;
  }
